body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80vmin;
    height: 80vmin;
}

.square.dark {
    background-color: #769656;
}

.square.light {
    background-color: #eeeed2;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
}